body{
    background: #FAF8F7;
    margin: 0;
    padding: 0;
}
.nav-my, a{
    background: black;
    color: white;
}
 li a{
    color: white !important;
}
.logdrop{
    list-style: none;
    text-decoration: none !important;
}
.bran{
    font-size: 1.7rem;
}
.title-underline{
    width: 140px;
    height: 5px;
    margin: 0  auto;
    border-radius: 4px;
}
.height{
    min-height: 90vh;
}

/* PURCHASE */

.purchase{
    background-color: #ff6600;
}
.purbtn{
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 20px;
}
.purbtn:hover{
    border: 2px solid black;
    font-weight: 600;
}

/* GALLERY */

.gallery:hover{
    transform: scale(0.9);
    opacity: 0.8;
}

/* SOCIAL MEDIA ICONS */

.social{
    position: fixed;
    top: 38%;
    left: 0;
    text-decoration: none;
    list-style: none;
    background: transparent;
    color: aliceblue;
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  opacity: 0.4;
}

.fa:hover {
    text-decoration: none;
    opacity: 5;
    padding: 15px;
    font-size: 23px;
    width: 50px;
    text-align: center;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dc4e41;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
@media only screen and (max-width: 600px) {
.social {
    display: none;
  }
}
/* CONTACT */
.fot{
    background: #272727;
    color: white;
}
.line{
    width: 100%;
    height: 2px;
    margin: 0  auto;
    border-radius: 4px;
    background-color: grey;
    margin-bottom: 2px;
}