body{
    background: url('../images/19_Photography.jpg') no-repeat center center fixed;
    background-size: cover;
}
login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: white;
}
label{
    color: white;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.ForgetPwd{
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.signup{
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.signup a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}
a:hover{
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.signup-form-1{
    padding: 5% 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.signup-form-1 h3{
    text-align: center;
    color: white;
}